<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suit" verbose="3"  thread-count="3" parallel="tests">
  <test name="Google Test">
	  <parameter name="browser" value="chrome"></parameter>
	   <parameter name="url" value="https://www.google.com/"></parameter>
    <classes>
      <class name="myTests.GoogleTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="OrangeHRM Test">
	     <parameter name="browser" value="edge"></parameter>
	      <parameter name="url" value="https://www.orangehrm.com/"></parameter>
    <classes>
      <class name="myTests.OrangeHRMTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="OpenCartLogin Test">
	     <parameter name="browser" value="chrome"></parameter>
	      <parameter name="url" value="https://naveenautomationlabs.com/opencart/index.php?route=account/login"></parameter>
    <classes>
      <class name="myTests.OpenCartLoginTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->